* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    /* outline: black 1px dashed; */
}

a, a:visited, a:active{
    color: inherit;
    text-decoration: none;
}

.img{
    height: 5rem;
}

.izone, .ive{
    mix-blend-mode: multiply;
}

h1, h2{
    margin-top: 1rem;
    text-align: center;
}
.home {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color:blanchedalmond;
    padding: 10px 25px;
    border-radius: 10px;
    border: black 1px solid;
    opacity: 0.9;
    transition: 0.2s ease-in;
}
.home:hover{
    transform: scale(1.1);
    opacity: 1;
}
section {
    width: 100vw;
    padding: 1rem 5vw;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
  }

  /* format for all header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    height: 5rem;
}
    /* format for all navbar classes */
nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.header1{
    color: black;
    background-color: #EF539D;
}

.header2 {
    color: white;
    background-color: black;
}

.header3 {
    outline: black 2px solid;
    border-radius: 3px;
    background-color: #9fb8d2;
}

.header4 {
    background-color: #7ba6de;
}

.header5 {
    width: 8rem;
    height: 100vh;
    background-color: #e1cdff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px 30px 20px;
}

.nav5{
    width: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cta {
    border: white 2px solid;
    padding: 15px;
    border-radius: 10px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
.burger{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.searchbar {
    padding: 5px;
    border-radius: 10px;
}

.header1-animation{
    color: black;
    background-color: #EF539D;
}

.logo-anim:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}

.navbar{
    height: 100%;
}
.nav-anim, .nav-anim2, .nav-anim3, .nav-anim4{
    height: 60%;
    width: 5rem;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}
.nav-anim:hover{
    background-color: #e1cdff;
}

.nav-anim2:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #e1cdff;
  }

.nav-anim2:hover {
    color: #e1cdff;
    box-shadow: 0 0 5px #e1cdff;
    text-shadow: 0 0 5px #e1cdff;
  }

  .nav-anim3:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px white;
  }

.nav-anim3:hover {
    transform: translate(-5px, -5px);
    box-shadow: inset 200px 0 0 0 whitesmoke;;
    transition: 0.6s ease;
    color: black;
  }

.cta{
    transition: 0.6s ease;
}
.cta:hover{
    transform: scale(0.9);
    box-shadow: inset 200px 0 0 0 whitesmoke;;
    color: black;
}

.logo-anim2 {
    transition: 0.6s ease;
}
.logo-anim2:hover{
    transform: translateX(5rem);
}

.dropbtn{
    font-weight: bold;
    font-size: 1.2rem;
    all: unset;
    all: inherit;
}

.dropdown {
    padding: 5px;
    border-radius: 15px;
}
.nav-anim4:hover, .dropdown:hover{
    background-color: #7e93ba;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9fb8d2;
    border: black 0.1px solid;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #7e93ba;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

.nav-anim5 {
    height: 3rem;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-out;
}

.ive:hover {
    transform: scale(1.5);
    transition: 0.6s ease;
}

.nav-anim5:hover {
    filter: drop-shadow(0 0 1px black);
    box-shadow: inset 200px 0 0 0 rgb(153, 104, 226);;
}

.navbar-anim:hover > :not(:hover){
    transform: scale(0.8);
}

h4{
    color: transparent;
    font-size: 20px;
    transform: translate(-0.5rem, -2rem);
    transition: 0.6s ease;
}

.burger-main{
    padding-left: 25px;
}
.burger-main:hover > h4{
    color: black;
    transform: translate(-0.5rem, -4rem);
}

.bottom-nav{
    position: sticky;
    bottom: 0;
    width: 100%;
}

.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.button{
    text-align: center;
    padding: 10px;
    width: 12rem;
    color: black;
    letter-spacing: 5px;
    background-color:darkkhaki;
    border: black 3px solid;
    border-radius: 25px;
    transition: 0.2s ease-in;
}
.button:hover{
    transform: scale(1.1);
}
.current{
    text-align: center;
    padding: 15px;
    width: 15rem;
    color: black;
    letter-spacing: 5px;
    font-weight: bold;
    background-color:darkkhaki;
    border: black 3px solid;
    border-radius: 25px;
}

